#[resonance_tester]
#probe_points : 215,215,50

#accel_chip_y : adxl345 bed
#max_smoothing : 0.05

#adxl345 bed]
#cs_pin: rpi:None
##axes_map : x,y,z

    
[gcode_macro ADXL_X]
description: test resonances in x direction / of the hotend
gcode:
     _CG28
     SHAPER_CALIBRATE AXIS=x

[gcode_macro ADXL_Y]
description: test resonances in y direction / of the hotend
gcode:
     _CG28
     SHAPER_CALIBRATE AXIS=y